<?xml version="1.0"?>
<!--
/**
 * Copyright © Getnet. All rights reserved.
 *
 * @author    Bruno Elisei <brunoelisei@o2ti.com>
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Getnet_SplitExampleMagento" setup_version="100.0.2">
        <sequence>
            <module name="Getnet_PaymentMagento"/>
            <module name="Getnet_SubSellerMagento"/>
            <module name="Magento_Catalog" />
            <module name="Magento_Sales" />
            <module name="Magento_Quote" />
            <module name="Magento_Checkout" />
        </sequence>
    </module>
</config>
